/* KODET AV:ANDERS KOO */

/* https://bootsnipp.com/snippets/dldxB */
.content{
	position: center;
	background-color:white;
	border-style: solid;
	border-color:#543091;
	border-radius: 10px;
	margin-top: 50px;
	justify-content: center;
	text-align: center;
	position: inherit;
		

}

/* https://getbootstrap.com/docs/4.0/utilities/borders/ */
/* https://www.w3schools.com/css/css_positioning.asp */
#regbtn{

	outline: none;
	margin-top: 50px;
	width: 50%;
	background-color:#543091;
	color:white;
	border-radius: 2px;
	justify-content: center;
	margin-bottom: 50px;
}

#login{
	outline: none;
	margin-top: 50px;
	width: 50%;
	background-color:#543091;
	color:white;
	border-radius: 2px;
	justify-content: center;
	margin-bottom: 50px;
}




