@import url('https://fonts.googleapis.com/css?family=Lato:400,700');
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,300');


body {
  overflow-x: hidden;
  background-position: center;
  background-size: contain;
  background-attachment: fixed;
  background-color: grey !important;
  padding-bottom: 130px;
}

/* Denne offset:before er basert på noe av html, css og Bootstrap kode som har brukt tidligere i gruppeeksamen PRO1000 Prak.prosj.arb av student 225256 vår 19 */

.offset:before {
  display: block;
  content: "";
  height: 4rem;
  margin-top: -4rem;
}
/*--- Kodet av Henrik Solnør Johansen STOPP ---*/

/*--- Kodet av Vigleik Espeland Stakseng START ---*/

/* https://www.w3schools.com/cssref/sel_focus.asp */
/* https://stackoverflow.com/questions/3397113/how-to-remove-focus-border-outline-around-text-input-boxes-chrome */

/* Styling av input fokus felter */

input:focus {
  outline: none;
  border-color: black;
  border-radius: 2px;
}

.btn {
  background-color: black;
  color:white;
}

.btn:hover {
background-color: black;
color:white;
}

.card-header {
  background-color: #000000!important;
  color: white;
}

/*--- Kodet av Vigleik Espeland Stakseng START ---*/

/*--- Bootstrap Mobile Gutter Fix ---*/

.row, .container-fluid {
margin-left: 0px!important;
margin-right: 0px!important;
}

/*--- Extra Bootstrap Column Padding --*/

[class*="col-"] {
  padding: 1rem;
}


/*--- Kodet av: Andreas Knutsen START ---*/

.card-group {
  background-color: #FFFFFF;
}

.card {
    position: relative;
    margin: 0 auto;
    padding: 1px;
}

.content-main {
  padding-top: 52px;
  padding-bottom: 60px;
}

.content-dashboard {
  padding-top: 100px;
  padding-bottom: 60px;
  background-color: grey;
}

section {
  font-family: 'Lato', sans-serif;
  padding:15rem;
}

.bg-main {
  background-color: grey;
  color: black;
}

.bg-secondary-custom {
  background-color: black;
  color: #FFFFFF;
}

.content-secondary{
  padding: 20%;
  background-color: #FFFFFF;
}

.navbar{
  text-transform: uppercase;
  font-weight: 700;
  font-size: .9rem;
  letter-spacing: .1rem;
  background-color: black;
  margin-bottom: 0;
}

.navbar a {
  color: #FFFFFF;
}

nav li:hover a {
  color: #FFFFFF;
}

.dropdown-menu a{
    color: #000000 !important;
}

.navbar .navbar-brand:hover {
  color: #FFFFFF;
}

.navbar-brand img{
  height: 5rem;
}

.navbar-nav li{
  padding-right: .7rem; 
}

.navbar-dark .navbar-nav .nav-link{
  color: white;
  padding-top: .8rem;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover{
  color: #FFFFFF;
}

.btn-primary {
  background-color: black !important;
  border-color: black !important;
  border-radius: 8px !important;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: black;
  height: 140px;
}

footer.page-footer .footer-copyright {
    overflow: hidden;
    color: rgba(255,255,255,0.6);
    background-color: rgba(0,0,0,0.2);
}

footer.page-footer a {
    color: #fff;
}

footer.page-footer li {
    color: #fff;
}

footer.page-footer ul {
    color: #fff;
    margin-left: 100px;
    margin-right: 100px;
}

#custom {
  margin: 0 auto;
}


.btn-outline-white {
    color: #fff !important;
    background-color: transparent !important;
    border: 2px solid #fff !important;
}

.btn:focus, .btn:active {
  outline: none !important;
  box-shadow: none !important;
}

#no {
  margin-right: 0.5rem;
}

#en {
  margin-left: 0.5rem;
}


.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

/* --- Kodet av: Andreas Knutsen STOPP --- */

/* --- Kodet av: Henrik Solnør Johansen START ---*/

/* --- Login and Signup Section ---*/

.inner {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
} 

.content {
  width: 26vw;
  height: 62vh;
  background: rgba(255,255,255,0.39);
  margin: auto;
  border-radius: 1%;
  display: table;
}

/*--- Login and Signup Section --- */

form {
  text-align: center;
}

.form_container {
  padding: 2px;
  margin: 2px;
}

/*--- Feedback form START --- */

input, textarea {
  display:block;
  width:100%;
  padding:.2rem;
  font-size:18px;
  border-radius:5px;
}

#message {
  resize: none;
}

.form-control {
  width: 100%;
}

/*--- Kodet av Vigleik Espeland Stakseng START ---*/

#my_form input:focus{
  display: block;
  border: 2px solid black;
  box-shadow: 0 0 8px 0 black; 
}

#my_form textarea:focus{
  display: block;
  border: 2px solid black;
  box-shadow: 0 0 8px 0 black; 
}

/*--- Kodet av Vigleik Espeland Stakseng STOPP ---*/

/*--- Feedback form --- STOPP */

/*--- Kodet av: Henrik Solnør Johansen STOPP ---*/
