@import url('https://fonts.googleapis.com/css?family=Lato:400,700');
@import url(https://fonts.googleapis.com/css?family=Quicksand:400,300);

/* ------------------------------------------- */
/* CUSTOM STYLING START */
/*
/* ------------------------------------------- */

body {
  overflow-x: hidden;
  background-position: center;
  background-size: contain;
  background-attachment: fixed;
}

.offset:before {
  display: block;
  content: "";
  height: 4rem;
  margin-top: -4rem;
}

/* ------------------------------------------- */
/* CUSTOM STYLING END */
/*
/* ------------------------------------------- */


/* https://www.w3schools.com/cssref/sel_focus.asp */
/* https://stackoverflow.com/questions/3397113/how-to-remove-focus-border-outline-around-text-input-boxes-chrome */


/* Kodet av Anders Koo */

input:focus {
  outline: none;
  border-color: #4A148C;
  border-radius: 2px;
}

.btn {
  background-color: #4A148C;
  color:white;

}

.btn:hover {
background-color: #4A148C;
color:white;

}

.card-header {
  background-color: #4A148C!important;
  color: white;
}



/* ------------------------------------------- */
/* CUSTOM STYLING END */
/* ------------------------------------------- */

/*--- Bootstrap Mobile Gutter Fix --*/
.row, .container-fluid {
margin-left: 0px!important;
margin-right: 0px!important;
}

/*--- Extra Bootstrap Column Padding --*/
[class*="col-"] {
  padding: 1rem;
}




/* ------------------------------------------- */
/* CUSTOM STYLING END */
/* ------------------------------------------- */

/* KODET AV: Andreas Knutsen */

.card-group {
  background-color: #FFFFFF;
}

.card {
    position: relative;
    margin: 0 auto;
    padding: 1px;
}

.content-main {
  padding-top: 52px;
  padding-bottom: 60px;
}

.content-dashboard {
  padding-top: 100px;
  padding-bottom: 60px;
}

section {
  font-family: 'Lato', sans-serif;
  padding:15rem;
}

.bg-main {
  background-color: #FFFFFF;
  color: #4A148C;
}

.bg-secondary-custom {
  background-color: #4A148C;
  color: #FFFFFF;
}

.content-secondary{
  padding: 20%;
  background-color: #FFFFFF;
}

.navbar{
  text-transform: uppercase;
  font-weight: 700;
  font-size: .9rem;
  letter-spacing: .1rem;
  background-color: #4A148C;
  margin-bottom: 0;
}

.navbar a {
  color: #FFFFFF;
}

nav li:hover a {
  color: #FFFFFF;
}

.dropdown-menu a{
    color: #000000 !important;
}

.navbar .navbar-brand:hover {
  color: #FFFFFF;
}

.navbar-nav li{
  padding-right: .7rem; 
}

.navbar-dark .navbar-nav .nav-link{
  color: white;
  padding-top: .8rem;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover{
  color: #FFFFFF;
}

.btn-primary {
  background-color: #4A148C !important;
  border-color: #4A148C !important;
  border-radius: 8px !important;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #4A148C;
}

footer.page-footer .footer-copyright {
    overflow: hidden;
    color: rgba(255,255,255,0.6);
    background-color: rgba(0,0,0,0.2);
}

footer.page-footer a {
    color: #fff;
}

footer.page-footer li {
    color: #fff;
}

footer.page-footer ul {
    color: #fff;
    margin-left: 100px;
    margin-right: 100px;
}

#custom {
  margin: 0 auto;
}


.btn-outline-white {
    color: #fff !important;
    background-color: transparent !important;
    border: 2px solid #fff !important;
}

.btn:focus, .btn:active {
  outline: none !important;
  box-shadow: none !important;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}


/* KODET AV: Andreas Knutsen */


/* KODET AV: Henrik Solnør Johansen*/

/*---- Login and Signup Section ---*/
/* ------------------------------------------- */
/* CUSTOM STYLING START */
/* ------------------------------------------- */
.inner {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
} 

.content {
  width: 26vw;
  height: 62vh;
  background: rgba(255,255,255,0.39);
  margin: auto;
  border-radius: 1%;
  display: table;
}

/*---- Login and Signup Section ---*/

form {
  text-align: center;
}

.form_container {
  padding: 2px;
  margin: 2px;
}

/*--- Feedback form --*/

input, textarea {
  display:block;
  width:100%;
  border:none;
  padding:.2rem;
  font-size:18px;
  border-radius:5px;
  resize: none;
}

#message {
  resize: none;
}

.fdsendBtn {
  border: 0;
  background: #4A148C;
  color: white;
  margin: 1rem 0;
  width: auto;
  text-transform: uppercase;
  cursor: pointer;
  float: left;
  margin-right: 5px;
}

.fdbackBtn {
  border: 0;
  background: #4A148C;
  color: white;
  margin: 1rem 0;
  width: auto;
  text-transform: uppercase;
  cursor: pointer;
  float: left;
}


.form-control {
  width: 100%;
}

#my_form input:focus{
  display: block;
  border: 2px solid #4A148C;
  box-shadow: 0 0 8px 0 #4A148C; 
}

#my_form textarea:focus{
  display: block;
  border: 2px solid #4A148C;
  box-shadow: 0 0 8px 0 #4A148C; 
}

/*--- Feedback form --*/

/* KODET AV: Henrik Solnør Johansen*/
/* ------------------------------------------- */
/* CUSTOM STYLING END */
/* ------------------------------------------- */
