@import url('https://fonts.googleapis.com/css?family=Lato:400,700');
@import url(https://fonts.googleapis.com/css?family=Quicksand:400,300);


/* body{
  overflow-x: hidden;
  font-family: 'Lato', sans-serif;
  background-position: center;
  background-size: contain;
  background-attachment: fixed;


} */

/* ------------------------------------------- */
/* CUSTOM STYLING START */
/*
/* ------------------------------------------- */

body{
  overflow-x: hidden;
  font-family: 'Lato', sans-serif;
  background-position: center;
  background-size: contain;
  background-attachment: fixed;
  margin-top: 100;
}

/* ------------------------------------------- */
/* CUSTOM STYLING END */
/*
/* ------------------------------------------- */


.offset:before {
  display: block;
  content: "";
  height: 4rem;
  margin-top: -4rem;
}

/* ------------------------------------------- */
/* CUSTOM STYLING START */
/*
/* ------------------------------------------- */

/* KODET AV: Anders Koo */



.info-text{
  text-align: center;
  margin-bottom: 300px;
  margin-left: 50px;
  margin-top: 50px;
  color:#543091;
  position: relative;
}

/* https://www.w3schools.com/cssref/pr_class_position.asp */
.empty-sub{
  position: relative;
  left: 40%;

  }


/* https://www.w3schools.com/howto/howto_css_fixed_footer.asp */
/*.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #543091;
  text-align: center;
}*/

.btn{
  background-color: #543091;
}

/* https://www.w3schools.com/cssref/sel_focus.asp */
/* https://stackoverflow.com/questions/3397113/how-to-remove-focus-border-outline-around-text-input-boxes-chrome */


input:focus {
	outline: none;
	border-color: #543091;
  border-radius: 2px;
  
}

.btn{
background-color: #543091;
color:white;
/* background-color: #543091; */
}

.btn:hover{
background-color: #543091;
color:white;
/* background-color: #543091; */
}

/*
.container{
  position: relative;
  padding-top: 1px;
  bottom:250px;
}*/




/* https://www.w3schools.com/css/tryit.asp?filename=trycss_position_fixed */

/*#info-section{
  background-color: white;
  height: 500px;
}

#info-text{
  text-align: center;
  margin-top: 150px;
  margin-left: 50px;
  color:#543091;
  position: relative;
  top: 110px;
  font-family: 'Lato', sans-serif;
}


#info-section2{
  background-color:#543091;
  height: 620px;
}

#info-text2{
  text-align: right;
  margin-top: 150px;
  margin-right: 100px;
  color: white;
  position: relative;
  top: 200px;
  font-family: 'Lato', sans-serif;
}




#info-text3{
  text-align: left;
  margin-top: 120px;
  margin-left: 50px;
  color:#543091;
  position: relative;
  top: 40px;
  font-family: 'Lato', sans-serif;
  

}*/


/* ------------------------------------------- */
/* CUSTOM STYLING END */
/* ------------------------------------------- */




/* ------------------------------------------- */
/* CUSTOM STYLING START */
/*
/* ------------------------------------------- */

/* KODET AV: Anders Koo */


/* .navbar{
  text-transform: uppercase;
  font-weight: 700;
  font-size: .9rem;
  letter-spacing: .1rem;
  background-color: #543091!important;
} */


/* https://www.w3schools.com/css/tryit.asp?filename=trycss_position_fixed */

/* #info-section{
  background-color: white;
  height: 500px;
}



#info-text{
  text-align: left;
  margin-top: 150px;
  margin-left: 50px;
  color:#543091;
  position: relative;
  top: 110px;
  font-family: 'Lato', sans-serif;
}


#info-section2{
  background-color:#543091;
  height: 620px;
}

#info-text2{
  text-align: right;
  margin-top: 150px;
  margin-right: 100px;
  color: white;
  position: relative;
  top: 200px;
  font-family: 'Lato', sans-serif;
}




#info-text3{
  text-align: left;
  margin-top: 120px;
  margin-left: 50px;
  color:#543091;
  position: relative;
  top: 40px;
  font-family: 'Lato', sans-serif;
  

}

#info-section3{
  background-color: white;
  height: 500px;
} */


/* KODET AV: Anders Koo */


/* ------------------------------------------- */
/* CUSTOM STYLING END */
/* ------------------------------------------- */

/* KODET AV: Andreas Knutsen */

.card-group {
  background-color: white;
}

.card{
    position: relative;
    margin: 0 auto;
    padding: 1px;
}

.content-main {
  padding-top: 52px;
  padding-bottom: 60px;
}

.content-dashboard {
  padding-top: 100px;
  padding-bottom: 60px;
}

section {
  font-family: 'Lato', sans-serif;
  padding:15rem;
}

.bg-main {
  background-color: #FFFFFF;
  color: #543091;
}

.bg-secondary-custom {
  background-color: #543091;
  color: #FFFFFF;
}

.content-secondary{
  padding: 20%;
  background-color: white;
}

.navbar{
  text-transform: uppercase;
  font-weight: 700;
  font-size: .9rem;
  letter-spacing: .1rem;
  background-color: #543091;
  margin-bottom: 0;
}

.navbar a {
  color:white;
}

nav li:hover a {
  color: white;
}

.dropdown-menu a{
    color: #000000 !important;
}

.navbar-brand img{
  height: 5rem;
}

.navbar-nav li{
  padding-right: .7rem; 
}

.navbar-dark .navbar-nav .nav-link{
  color: white;
  padding-top: .8rem;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover{
  color: white
}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.btn-primary {
  background-color: #543091 !important;
  border-color: #543091 !important;
  border-radius: 8px !important;
}


footer{
  position: fixed;
  height: 50px;
  bottom: 0;
  width: 100%;
  background-color: #543091;
}


footer a{
  color: white;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}


/* KODET AV: Andreas Knutsen */


/*---- info Section ---*/

/*.section1{

padding: 10px;
margin-left: 10px;
margin-right: 10px;

}

.section2{

padding: 10px;
margin-left: 10px;
margin-right: 10px;

}

.section3{

  padding: 10px;
margin-left: 10px;
margin-right: 10px;
}*/


/*---- Contact  / Footer  Section ---*/

.section4{
  
margin-left: 40%;
margin-right: 30%;
}

footer svg.svg-inline--fa{
  font-size: 1.6rem;
  margin: 1.2rem .5rem 0 0;
}

footer svg.svg-inline--fa:hover{
 color: #2681E6!important;
}

footer img {
  height: 3rem;
  margin: 1.5rem 0;
  
}


/*---- Login and Signup Section ---*/

.intro {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  display: table;
  top: 0; 
}

.inner {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
} 

.content {
  width: 26vw;
  height: 62vh;
  background: rgba(255,255,255,0.39);
  margin: auto;
  border-radius: 1%;
  display: table;
}

.photo {

  display: table-cell;
  widows: 42%;
  height: 37%;
  margin: auto;
  border: 2px solid #726b6b;
  border-radius: 100%;
}
.input0 {
  display: table-cell;
  margin-left: 3.5vw;
  margin-top: 6vh;
  padding: 1% 1% 1% 10%;
  background: url();
  background-repeat: no-repeat;
  font-size: 30px;
  font-family: 'pacifico';
  border: 0px;
  border-bottom: 1px solid white;
  width: 13.5vw;
  height: 5vh;
}

.input1 {
  display: table-cell;
  margin-left: 3.5vw;
  margin-top: 6vh;
  padding: 1% 1% 1% 10%;
  background: url();
  background-repeat: no-repeat;
  font-size: 30px;
  font-family: 'pacifico';
  border: 0px;
  border-bottom: 1px solid white;
  width: 13.5vw;
  height: 5vh;
}

.input2 {
  display: table-cell;
  margin-left: 3.5vw;
  margin-top: 6vh;
  padding: 1% 1% 1% 10%;
  background: url();
  background-repeat: no-repeat;
  font-size: 30px;
  font-family: 'pacifico';
  border: 0px;
  border-bottom: 1px solid white;
  width: 13.5vw;
  height: 5vh;
}

.input2[placeholder]{
  padding-left: 23%;
  font-family: 'Lobster';
  font-size: 1.9vw;
}

.input1[placeholder]{
  padding-left: 23%;
  font-family: 'Lobster';
  font-size: 1.9vw;
}
.input0[placeholder]{
  padding-left: 23%;
  font-family: 'Lobster';
  font-size: 1.9vw;
}

/* .btn {

  text-decoration: none;
  display: table;
  text-align: center;
  margin-top: 6%;
  height: 3vh;
  padding: 3% 0% 3% 0%;
  background: #12E553;
  font-family: 'Lobster';
  font-size: 1.8;
  color: #0D0707;
} */


/*---- Login and Signup Section ---*/

form{
  text-align: center;
}
.form_container{
  padding: 5px;
  margin: 5px;
}
.small_container {

}
.form_label {

}

/*--- Feedback form --*/

.fdwrapper{
  max-width:500px;
  margin:2rem auto;
  border:2px solid #543091;
  padding:2rem;
  border-radius:5px;
 }
input, textarea {
  display:block;
    width:100%;
    border:none;
    padding:.5rem;
    font-size:18px;
    border-radius:5px;
}
textarea {
    resize: none;
}
input{type=text}:focus{
  border-color: purple;
  box-shadow: 0 0 8px 0 purple;
 }


.fdsendBtn{
  border:0;
  background:#543091;
  padding:.5rem;
  color:white;
  margin:1rem 0;
  width:auto;
  text-transform:uppercase;
  cursor:pointer;
  }

.fdbackBtn{
  border:0;
  background: #543091;
  color:white;
  margin:1rem 0;
  width:auto;
  text-transform:uppercase;
  cursor:pointer;
  vertical-align: right;
}



/*--- Feedback form --*/

