@import url('https://fonts.googleapis.com/css?family=Lato:400,700');
@import url(https://fonts.googleapis.com/css?family=Quicksand:400,300);


/* ------------------------------------------- */
/* CUSTOM STYLING START */
/*
/* ------------------------------------------- */

#custom-body{
  overflow-x: hidden;
  font-family: 'Lato', sans-serif;
  background-position: center;
  background-size: contain;
  background-attachment: fixed;
  margin-top: 100;
}

/* ------------------------------------------- */
/* CUSTOM STYLING END */
/*
/* ------------------------------------------- */


.offset:before {
  display: block;
  content: "";
  height: 4rem;
  margin-top: -4rem;
}

/* ------------------------------------------- */
/* CUSTOM STYLING START */
/*
/* ------------------------------------------- */

/* KODET AV: Anders Koo */



.info-text{
  text-align: center;
  margin-bottom: 300px;
  margin-left: 50px;
  margin-top: 50px;
  color:#4a138c;
  position: relative;
}
/* Kilder brukt til å style input felter */
/* https://www.w3schools.com/cssref/pr_class_position.asp */
.empty-sub{
  position: relative;
  left: 40%;

  }

.btn{
  background-color: #4a138c;
}

/* Kilder brukt til å style input felter */
/* https://www.w3schools.com/cssref/sel_focus.asp */
/* https://stackoverflow.com/questions/3397113/how-to-remove-focus-border-outline-around-text-input-boxes-chrome */

.btn{
background-color: #4a138c;
color:white;
/* background-color: #543091; */
}

.btn:hover{
background-color: #4a138c;
color:white;
/* background-color: #543091; */
}


/* KODET AV: Andreas Knutsen */

.card-group {
  background-color: #FFFFFF;
}

.card{
    position: relative;
    margin: 0 auto;
    margin-top: 30px;
}

.content-main {
  padding-top: 52px;
  padding-bottom: 60px;
}

.content-dashboard {
  padding-top: 100px;
  padding-bottom: 60px;
}

section {
  font-family: 'Lato', sans-serif;
  padding:10rem;
}

.bg-main {
  background-color: #FFFFFF;
  color: #543091;
}

.bg-secondary-custom {
  background-color: #4a138c;
  color: #FFFFFF;
}

.content-secondary{
  padding: 20%;
  background-color: #FFFFFF;
}

.navbar{
  text-transform: uppercase;
  font-weight: 700;
  font-size: .9rem;
  letter-spacing: .1rem;
  background-color: #4a138c;
  margin-bottom: 0;
}

.navbar a {
  color: #FFFFFF;
}

nav li:hover a {
  color: #FFFFFF;
}

.dropdown-menu a{
    color: #000000 !important;
}

.navbar-brand img{
  height: 5rem;
}

.navbar-nav li{
  padding-right: .7rem; 
}

.navbar-dark .navbar-nav .nav-link{
  color: white;
  padding-top: .8rem;
}

.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link:hover{
  color: #FFFFFF;
}

.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}

.btn-primary {
  background-color: #4a138c !important;
  border-color: #4a138c !important;
  border-radius: 8px !important;
}


footer{
  position: fixed;
  /*height: 50px;*/
  bottom: 0;
  width: 100%;
  background-color: #4a138c;
}

footer.page-footer .footer-copyright {
    overflow: hidden;
    color: rgba(255,255,255,0.6);
    background-color: rgba(0,0,0,0.2);
}

footer.page-footer a {
    color: #fff;
}

footer.page-footer li {
    color: #fff;
}

footer.page-footer ul {
    color: #fff;
    margin-left: 100px;
    margin-right: 100px;
}


.btn-outline-white {
    color: #fff !important;
    background-color: transparent !important;
    border: 2px solid #fff !important;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}

/*---- Contact  / Footer  Section ---*/

.section4{
  
margin-left: 40%;
margin-right: 30%;
}

footer svg.svg-inline--fa{
  font-size: 1.6rem;
  margin: 1.2rem .5rem 0 0;
}

footer svg.svg-inline--fa:hover{
 color: #2681E6!important;
}

footer img {
  height: 3rem;
  margin: 1.5rem 0;
  
}


/*---- Login and Signup Section ---*/

form{
  text-align: center;
}
.form_container{
  padding: 5px;
  margin: 5px;
}
.small_container {

}
.form_label {

}

/*--- Feedback form --*/

.col-lg-12 input:focus{
  display: block;
  border: 2px solid #543091;
  box-shadow: 0 0 8px 0 #543091; 
}

.col-lg-12 textarea:focus{
  display: block;
  border: 2px solid #543091;
  box-shadow: 0 0 8px 0 #543091; 
}

.fdsendBtn{
  display:block;

    width:100%;
    border:none;
    padding:.5rem;
    font-size:18px;
    border-radius:5px;

  width:100%;
  border:none;
  padding:.5rem;
  font-size:18px;
  border-radius:5px;
  resize: none;
}

#message {
  resize: none;
}

.fdbackBtn{
  display:block;
    width:100%;
    border:none;
    padding:.5rem;
    font-size:18px;
    border-radius:5px;
  border:0;
  background: #543091;
  color:white;
  margin:1rem 0;
  width:auto;
  text-transform:uppercase;
  cursor:pointer;
  float: left; 
}

.form-control {
  width: 100%;
}

  /*--- Feedback form --*/

/* KODET AV: Henrik Solnør Johansen*/
/* ------------------------------------------- */
/* CUSTOM STYLING END */
/* ------------------------------------------- */

